name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0
      - uses: coursier/cache-action@v6
      - name: Set up JDK
        uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.11.0-9
      - name: Checking your code format
        run: sbt scalafmtCheckAll
      - name: Run tests
        run: sbt +test
